.navbar .navbar-brand {
  text-decoration: none;
  font-size: 28px;
  font-weight: bold;
  margin-top: 5px;
  font-family: $brand-font;
}

.navbar-default {
  background: none;
  border: none;
}

.page-link {
  text-decoration: none;
  &:hover, &.active {
    background: $brand-color !important;
    color: white !important;
  }
}